<?xml version="1.0" encoding="UTF-8"?>
<connectionStrings>
  <clear />
  <!--<add connectionString="Data Source=BIJAYA-CONTENTD;Initial Catalog=del_news_1;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=brain@123;Connect Timeout=120" name="SageFrameConnectionString" providerName="System.Data.SqlClient" />-->
  <!--<add connectionString="Data Source=BIJAYA-CONTENTD;Initial Catalog=del_test_webbuilder_3;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=brain@123;Connect Timeout=120" name="SageFrameConnectionString" providerName="System.Data.SqlClient" />-->
  <add connectionString="Data Source=BIJAYA-CONTENTD;Initial Catalog=del_webbuilder_5;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=brain@123;Connect Timeout=120" name="SageFrameConnectionString" providerName="System.Data.SqlClient" />
  <!--<add name="SageFrameConnectionString" connectionString="Data Source=172.18.29.35;Initial Catalog=eb_news_db_new;Integrated Security=False;Persist Security Info=False;User ID=contender;Password=sf@123;Connect Timeout=120" providerName="System.Data.SqlClient" />-->
</connectionStrings>