
/*Style Starts here for popup model*/

.flex-box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}


.up-file-input{
    display: none;
}

.popup-fade-bg{
    background-color: rgba(37,43,52,.94);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index:99999;

}
.media-pop-model{
    position: relative;
    display: inline-block;
    background-color: #fff;
    color:rgba(0,0,0,.8);
    width: 100%;
    max-width: 1300px;
    height: 92%;
    top:4%;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: left;
}

.model-header{
    background-color: #016fb9;
    color:white;
    padding: 15px 20px;
    align-items: center;
}
.model-title{
    font-size: 24px;
    font-weight: 200;
    color:rgba(255,255,255,.8);
    margin: 0;
}
.model-title i{margin-right: 8px;}
.close-model{
    cursor: pointer;
    margin-left: auto;
}

/*Search Model*/
.media-search-model{
    background-color: #e6e8ec;
    padding: 8px;
    align-items: center;
}
.search-box {
    position: relative;
    flex: 0 0 28%;
    margin-right: 15px;
}
.search-box input[type="text"]{
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0 35px 0 10px;
    font-size: 14px;
    color:black;
    background-color: rgba(255,255,255,.6);
    border: none;
    transition: all .4s ease;
    border:solid 1px transparent;
}
.search-box input[type="text"]:focus{
    background-color: rgba(255,255,255,.8);
    outline: none;
    border:solid 1px rgba(0,0,0,.14);
}

.search-box span.search-btn{
    color:rgba(0,0,0,.4);
    position: absolute;
    top:11px;
    right: 10px;
    cursor: pointer;
    transition:all .4s ease;
}

.search-box span.search-btn:hover{color: #1fb6ff;}

.clear-field{
    color: #1fb6ff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

/*Body Model*/
.model-body{
    padding: 20px 30px;
    height: calc(100% - 135px);
    /*position: relative;*/
}
.model-body .left-side{flex:0 0 30%;-webkit-flex:0 0 30%;border-right: solid 1px rgba(0,0,0,.2);max-height: 100%;max-width: 214px;}

.model-body .right-side,
.model-body .right-right-side{flex:2;-webkit-flex:2;padding-left:30px;overflow-y: auto;}

.model-body .left-side h2,
.model-body .right-right-side h2{font-size: 20px;font-weight: 300;margin-bottom: 18px;text-transform: uppercase}
.model-body .imagemanipulate{
    height: 100%;
    max-height: calc(100% - 60px);
    max-height: -webkit-calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}

.root-branch{
    max-height: calc(100% - 54px);
    max-height: -webkit-calc(100% - 54px);
    overflow-y: auto;
}

.root-branch ul li{position: relative;}
.no-of-foldrs{display: inline-block;position: absolute;right:30px;background-color: rgba(0,0,0,.1);color:rgba(0,0,0,.4);font-size: 10px;font-weight: 600;padding: 1px 6px;border-radius: 2px;line-height: 14px;}


.root-branch ul li{
    position: relative;
    padding-left: 18px;
    margin-bottom: 8px;
    border-left:solid 1px rgba(0,0,0,.08);
    transition: all .3s ease;
}



.root-branch ul li ul{margin-top:6px;margin-left:-6px;}
.root-branch ul li:last-child{margin-bottom: 0;}

.root-branch ul li:after{
    content:'\f07b';
    font-family: 'fontAwesome';
    position: absolute;
    top:4px;
    left: 0;
    color:#d5a95f;
    font-size: 12px;
}

.root-branch .mediaCategoryHierrarchy > li:after,
.root-branch .mediaCategoryHierrarchy > li ul li.opened:after{
    content:'\f07c' !important;
}
.root-branch .mediaCategoryHierrarchy > li span.folderherarchy{color:#1fb6ff;}

.root-branch .mediaCategoryHierrarchy > li ul li span{font-size: 12px;font-weight:500;color:rgba(0,0,0,.6) !important;text-decoration: none;transition: all .4s ease;}

.root-branch .mediaCategoryHierrarchy > li ul li span:hover,
.root-branch .mediaCategoryHierrarchy > li ul li.opened > span
{color:#1fb6ff !important;}



/*.root-branch ul.mediaCategoryHierrarchy li span{font-size: 12px;font-weight:500;color:rgba(0,0,0,.6);text-decoration: none;transition: all .4s ease;}*/
/*.root-branch ul li a.root{font-size: 14px;font-weight: 600;color:rgba(0,0,0,.6)}*/
/*.root-branch ul > li span:hover,*/


.btn-row{margin-left:auto}
.btn-row a,
.btn-row label,
.btn-row span.create-folder,
.crop-and-save > span{
    display: inline-block;
    text-decoration: none;
    font-size: 12px !important;
    line-height: 30px;
    border-radius: 30px;
    padding: 0 20px;
    transition: all .4s ease;
    color:rgba(0,0,0,.6);
    margin-left: 10px !important;
    border:none !important;
    font-weight: 600 !important;
    cursor: pointer;
    height: 31px;
    text-transform: none !important;
}

.crop-and-save > span{background-color: rgba(0,0,0,.08);color:rgba(0,0,0,.6);}
.crop-and-save > span:hover{background-color: #1fb6ff;color:white !important;}
.btn-row .up-file,
.create-folder{background-color: #1fb6ff;color:white !important;margin-bottom: 0;}
/*.create-folder{background-color: rgba(0,0,0,.1)}*/
.btn-row a:hover,
.create-folder:hover,
.btn-row label:hover{background-color: rgba(0,0,0,.8) !important; color: white !important;}

.drop-media{
    border:dashed 1px rgba(0,0,0,.1);
    align-items: center;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    background-color: #d8f7fe;
    margin-bottom: 10px;
    color:#79a3ac;
}


/*Custom image preview popup*/
.pop-up-parent-bg{
    position: fixed;
    background-color: rgba(0,0,0,.94);
    justify-content: center;
    align-items: center;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pop-up-parent-bg .view-wrap{
    margin-top:100px;
    margin-bottom: 100px;
    height: calc(100% - 200px);
    height: -webkit-calc(100% - 200px);
    width: auto;
    display: flex;
    align-items: center;
}

.pop-up-parent-bg .view-wrap img{
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.pop-up-parent-bg .close-model{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color:rgba(255,255,255,.4);
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 9;
}



.drop-media{position: relative}
.drop-media .btn-row{margin-left: 0;}

.drop-media i{color:rgba(0,0,0,.2);margin-right: 20px;}

/*dropable Area*/

.fileUploader{
    flex:0 0 100%;
    -webkit-flex:0 0 100%;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.droppable{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.uploadError{
    position: absolute;
    width: 100%;
    right: 0;
    padding-top:74px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    z-index: 1;
}

.notValidExtension{
    background: rgb(237, 64, 64);
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.notValidExtension:before{
    content: '';
    position: absolute;
    top: -12px;
    left: calc(50% - 8px);
    left: -webkit-calc(50% - 8px);
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent rgb(237, 64, 64) transparent;
}

/*.dragover{*/
    /*position: inherit;*/
/*}*/

.dragover{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    border:solid 4px #36d05a;
    background-color: rgba(206,251,217,.9);
    z-index: 9;
}

.dragover p{
    display: none;
}

.dragover:after{
    content:'Drop your file here..';
    font-size: 34px;
    font-weight: 200;
    color:#36d05a;

}

.divBreadcrumb{margin-bottom: 10px;}

.divBreadcrumb ul li{font-size:11px;display: inline-block;vertical-align: top;font-weight: 500;transition: all .3s ease;margin: 0 10px 0 0;cursor: pointer;color:rgba(0,0,0,.6)}
.divBreadcrumb ul li:last-child{cursor: text;color: rgba(0,0,0,.4)}
.divBreadcrumb ul li:last-child:hover{color:rgba(0,0,0,.4)}
.divBreadcrumb ul li:hover{color:rgba(31,182,255,1)}

.divBreadcrumb ul li{
    position:relative;
    padding-right: 14px;
}

.divBreadcrumb ul li:after{
    content:'';
    position: absolute;
    top:5px;
    right: -4px;
    border-style: solid;
    border-color:transparent transparent transparent rgba(0,0,0,.6);
    border-width: 4px;
}

.divBreadcrumb ul li:last-child:after{
    display: none;
}

.media-wrap{
    /*margin-left: -15px;
    margin-right: -15px;
    margin-top: 4px;
    flex-wrap: wrap;
    max-height: calc(100% - 78px);
    max-height: -webkit-calc(100% - 78px);
    overflow-x: hidden;
    overflow-y: auto;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
}
/*.media-wrap .items{ float: left; margin: 4px; border: 1px solid #eee; box-sizing: content-box; overflow: hidden; position: relative; }*/
.editableFolderName input.txtEditableFolderName{border-bottom: none;padding: 0 8px;height: 28px;line-height: 10px;}
.editableFolderName input.txtEditableFolderName{
    box-shadow: inset rgba(31,182,255,.9) 0 0 6px;
}

.media-wrap .items span.document{
    width: 134px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}

.folderName,
.editableFolderName{
    line-height: 29px;
    /*display: inline-block !important;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.editableFolderName input{text-align: center;}

.mediaCategoryHierrarchy li span{cursor:pointer;text-transform: uppercase;font-size: 12px;font-weight: 500;transition:all .4s ease;padding-right: 10px;}
.mediaCategoryHierrarchy li > span{color:#1fb6ff}
.mediaCategoryHierrarchy li > ul li span{cursor: pointer;text-transform: none;font-weight: 500;color:rgba(0,0,0,.6);}
.mediaCategoryHierrarchy li > ul li:hover span{color:#1fb6ff}

.mediaCategoryHierrarchy li ul{
    transition: all .4s ease;
    -webkit-transition:all .4s ease;
}

.hide-folder{
    /*height:0;*/
    /*width: 100%;*/
    /*text-indent: -9999px;*/
    margin: 0;
    overflow: hidden;
    position: absolute !important;
    top:-5000px;
    opacity: 0;
    visibility: hidden;
}


/*Item Frame*/
.items{
    text-align: center;
    margin-bottom: 30px;
}
.items a.openfolder,
.items span.img-name{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color:rgba(0,0,0,.6);
    margin-top: 10px;
    transition: all .4s ease;
}

.img-name{
    max-width: 124px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.items a{text-decoration: none}
.frame{
    /*height: 157px;*/
    /*max-width: 157px;*/
    /*width: 100%;
    transition: all .4s ease;
    position: relative;
    background-color: rgba(0,0,0,.8);*/
    /*display: -webkit-inline-box;*/
    /*display: -moz-inline-box;*/
    /*display: -ms-inline-flexbox;*/
    /*display: -webkit-inline-flex;*/
    /*display: inline-flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    cursor: pointer;
    /*overflow: hidden;*/
}

/*.frame:after{
    content:attr(title);
    position: absolute;
    top:auto;
    right: -30px;
    top: 0;
    padding: 8px;
    font-size: 10px;
    color: white;
    background-color: rgba(0,0,0,.88);
    height: 10px;
    line-height: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
}

.frame:hover{
    box-shadow: rgba(54,208,90,.5) 0 0 24px;
    z-index: 999;
}

.frame:hover img{
    opacity: 0.6;
}

.frame:hover:after{
    opacity: 1;
    visibility: visible;
    right: 0;
}*/

/*.frame img{
    height: 152px;
    width:auto;
    max-width: 100%;
    /*object-fit: cover;*/
/*}*/


.frame img{
    transition: all .4s ease;
}

.frame:hover img{
    opacity: 0.4;
    transform: scale(1.01);
}


.items{
    transition: all .4s ease;
}

.type-folder,
.type-files{
    text-align: center;
    /*background-color: #e9eef2;*/
    min-width: 180px;

}

.items:hover{
    background-color: #e9eef2;
}

.type-folder img,
.type-files img{
    height: auto;
    max-width: 60px;
    margin-top: 48px;
}

.type-video{
    position: relative;
    font-size: 44px;
    background-color: #252b34;
    color:white;
}

.type-video i{
   /* line-height: 157px;*/
}

.type-folder:after{
    display: none;
}

.type-folder > span i{
    font-size: 48px;
    color:#d5a95f;
}

.type-folder > span i:before{line-height: 157px;}

.type-action{
    position: absolute;
    bottom: 0;
    left: 26px;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    box-shadow: rgba(0,0,0,.4) 0 0 10px;
    padding:5px 10px;
    text-align: left;
    transition: all .4s ease;
    border-radius: 4px;
    z-index: 39;
}



/*.items:hover .type-action{*/
    /*opacity: 1;*/
    /*visibility: visible;*/
    /*bottom: 15px;*/
/*}*/

.type-action.open{
    opacity: 1;
    visibility: visible;
    bottom: 5px;
}


.openSettings{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 22px;
    color:rgba(0,0,0,.6);
    background-color: white;
    position: absolute;
    left:5px;
    bottom: 5px;
    box-shadow: rgba(0,0,0,.2) 0 0 18px;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}

.items:hover .openSettings{
    opacity: 1;
    visibility: visible;
}
.media-pop-model .active{
    opacity: 1;
    visibility: visible;
    bottom: 15px;
}

.type-action li{
    padding-top: 6px;
    padding-bottom: 6px;
}
.type-action li a,
.type-action li span{line-height: 10px;}
.type-action li a i,
.type-action li span i{display: inline-block;float: right;margin-left: 15px;}
.type-action span,
.type-action a,
.type-action span{font-size: 11px;color:black;display: block;transition: all .4s ease;cursor: pointer}
.type-action span.delete-item{color: red;}

.type-action span:hover{color:rgba(0,0,0,.6);}

.move-target-wrap{
    position: absolute;
    top:0;
    left:100%;
    padding: 25px 20px;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    background-color: #252b34;
    color:rgba(0,0,0,.06);
    min-width: 120px;
    z-index: 128;
    max-width: 300px;
    overflow: auto;
    max-height: 400px;

}

.move-target-wrap li{
    font-size: 11px;
    font-weight: 600;
    color: rgba(0,0,0,.6);
    cursor: pointer;
    line-height: 20px;
    white-space: nowrap;
    position: relative;
    padding-left: 18px;
}


.move-target-wrap li:before{
    content: '\f07b';
    font-family: 'fontAwesome';
    position: absolute;
    top: 4px;
    left: 0;
    color: #d5a95f;
    font-size: 12px;

}

.move-target-wrap li.opened:before{
    content: '\f07c' !important;
}

.move-target-wrap li span{
    color:rgba(255,255,255,.6);
}

.move-target-wrap li:hover > span{
    color:#1fb6ff;
}

.move-target-wrap li li{
    margin-left: -5px;
}
.move-target-wrap li li:last-child{padding-bottom: 0;}

.move-target-wrap li i{color: #d5a95f;}
#ulCategory{width: 100%;}
.nomediaData img{display: none;}
.nomediaData{position: relative}
.nomediaData:after{
    content: 'Nothing to display :(';
    width: 100%;
    font-weight: 200;
    color: rgba(0,0,0,.2);
    font-size: 54px;
    text-align: center;
    display: block;
    margin-top: 60px;
}




.media-wrap .items.movealign .move-target-wrap{
    left:auto;
    right:100%;
}




/******* Cropper css start**********/
/*!
 * Cropper.js v0.8.1
 * https://github.com/fengyuanchen/cropperjs
 *
 * Copyright (c) 2015-2016 Fengyuan Chen
 * Released under the MIT license
 *
 * Date: 2016-09-03T04:55:16.458Z
 */


/****tether.css***/
.tether-element, .tether-element *, .tether-element :after, .tether-element :before, .tether-element:after, .tether-element:before {
    box-sizing: border-box;
}

.tether-element {
    position: absolute;
    display: none;
}

    .tether-element.tether-open {
        display: block;
    }
/****tether.css end***/


.cropper-container {
    font-size: 0;
    line-height: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: ltr;
}

.cropper-container:nth-child(3){display: none;}
/*.cropper-container:first-child{display: block;}*/

    .cropper-container img {
        display: block;
        min-width: 0 !important;
        max-width: none !important;
        min-height: 0 !important;
        max-height: none !important;
        width: 100%;
        height: 100%;
        image-orientation: 0deg;
    }

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cropper-wrap-box {
    overflow: hidden;
}

.cropper-drag-box {
    opacity: 0;
    background-color: #fff;
}

.cropper-modal {
    opacity: .5;
    background-color: #000;
}

.cropper-view-box {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, 0.75);
}

.cropper-dashed {
    position: absolute;
    display: block;
    opacity: .5;
    border: 0 dashed #eee;
}

    .cropper-dashed.dashed-h {
        top: 33.33333333%;
        left: 0;
        width: 100%;
        height: 33.33333333%;
        border-top-width: 1px;
        border-bottom-width: 1px;
    }

    .cropper-dashed.dashed-v {
        top: 0;
        left: 33.33333333%;
        width: 33.33333333%;
        height: 100%;
        border-right-width: 1px;
        border-left-width: 1px;
    }

.cropper-center {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    opacity: .75;
}

    .cropper-center:before,
    .cropper-center:after {
        position: absolute;
        display: block;
        content: ' ';
        background-color: #eee;
    }

    .cropper-center:before {
        top: 0;
        left: -3px;
        width: 7px;
        height: 1px;
    }

    .cropper-center:after {
        top: -3px;
        left: 0;
        width: 1px;
        height: 7px;
    }

.cropper-face,
.cropper-line,
.cropper-point {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .1;
}

.cropper-face {
    top: 0;
    left: 0;
    background-color: #fff;
}

.cropper-line {
    background-color: #39f;
}

    .cropper-line.line-e {
        top: 0;
        right: -3px;
        width: 5px;
        cursor: e-resize;
    }

    .cropper-line.line-n {
        top: -3px;
        left: 0;
        height: 5px;
        cursor: n-resize;
    }

    .cropper-line.line-w {
        top: 0;
        left: -3px;
        width: 5px;
        cursor: w-resize;
    }

    .cropper-line.line-s {
        bottom: -3px;
        left: 0;
        height: 5px;
        cursor: s-resize;
    }

.cropper-point {
    width: 5px;
    height: 5px;
    opacity: .75;
    background-color: #39f;
}

    .cropper-point.point-e {
        top: 50%;
        right: -3px;
        margin-top: -3px;
        cursor: e-resize;
    }

    .cropper-point.point-n {
        top: -3px;
        left: 50%;
        margin-left: -3px;
        cursor: n-resize;
    }

    .cropper-point.point-w {
        top: 50%;
        left: -3px;
        margin-top: -3px;
        cursor: w-resize;
    }

    .cropper-point.point-s {
        bottom: -3px;
        left: 50%;
        margin-left: -3px;
        cursor: s-resize;
    }

    .cropper-point.point-ne {
        top: -3px;
        right: -3px;
        cursor: ne-resize;
    }

    .cropper-point.point-nw {
        top: -3px;
        left: -3px;
        cursor: nw-resize;
    }

    .cropper-point.point-sw {
        bottom: -3px;
        left: -3px;
        cursor: sw-resize;
    }

    .cropper-point.point-se {
        right: -3px;
        bottom: -3px;
        width: 20px;
        height: 20px;
        cursor: se-resize;
        opacity: 1;
    }

        .cropper-point.point-se:before {
            position: absolute;
            right: -50%;
            bottom: -50%;
            display: block;
            width: 200%;
            height: 200%;
            content: ' ';
            opacity: 0;
            background-color: #39f;
        }

@media (max-width:468px) {
    .MediaHandler .btnwrppr .chkwrppr {
        width: 100%;
    }
}

@media(max-width:768px) {
    .chkwrppr {
        display: block;
    }

    .button.wraper {
        display: block;
    }

        .button.wraper span.btnwrppr {
            display: block;
            width: 100% !important;
            margin-bottom: 25px;
        }

        .button.wraper input[type="text"], .PopupContent .button.wraper span.btnwrppr:last-child input[type="text"] {
            width: 100%;
        }

    .btnwrppr button {
        margin-top: 25px;
        float: left;
    }

        .btnwrppr button.icon-search {
            clear: left;
        }

    input[type="radio"] + label {
        float: left;
        margin-top: 10px;
    }

        input[type="radio"] + label.movecopy {
            float: none;
            margin: 0;
        }

    .CategoryListing ul li {
        width: calc(100% - 70px);
    }

    .sfButton {
        float: left;
    }

        .sfButton span {
            top: 16px !important;
        }

    .ui-dialog .ui-dialog-content {
        padding: 25px !important;
    }

    .sfRadioTab .sfBtn {
        font-size: 11px;
        height: 31px;
        line-height: 21px;
        padding: 5px 15px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        width: 15px;
        height: 15px;
    }
}

@media (min-width:800px) and (max-width:990px) {
    .PopupContent .button.wraper span.btnwrppr:first-child, .PopupContent .button.wraper span.btnwrppr:last-child, .PopupContent .button.wraper span.btnwrppr:last-child input[type="text"] {
        width: 100%;
    }

    .PopupContent .chkwrppr {
        display: block;
        margin-top: 15px;
    }

    .button.wraper span.btnwrppr:first-child {
        width: 35%;
        margin-right: 25px;
    }

    .button.wraper span.btnwrppr:last-child {
        width: 60%;
    }

    .button.wraper span.btnwrppr:first-child input {
        width: 100%;
    }

    .chkwrppr {
        width: 180px;
    }

    .button.wraper input[type="text"] {
        width: calc(100% - 180px);
    }

    .MediaHandler .button.wraper input[type="text"] {
        width: 100%;
    }

    .MediaHandler .button.wraper span.btnwrppr:last-child button.icon-search {
        margin-left: 0;
    }

    .btnwrppr button {
        margin-top: 15px;
    }

    .button.wraper span.btnwrppr:last-child button.icon-search {
        margin-left: 168px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        width: 10px;
        height: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        width: 5px;
        height: 5px;
        opacity: .75;
    }
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.cropper-hide {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}


/********main.css*****/
/* Basic */

body {
    overflow-x: hidden;
    margin: 0;
}

.browserupgrade {
    margin: 0;
    padding: .5em 1em;
    text-align: center;
    background-color: #fcfcfc;
}



.btn-group > label {
    margin-bottom: 0;
}


/* Jumbotron */

.docs-jumbotron {
    color: #fff;
    border-radius: 0;
    background-color: #0074d9;
}

    .docs-jumbotron .version {
        font-size: 16px;
        opacity: .8;
        color: #fff;
    }

@media (min-width: 992px) {
    .docs-jumbotron h1 {
        font-size: 4.5rem;
        font-weight: normal;
    }

    .docs-jumbotron h1,
    .docs-jumbotron p {
        margin-right: 380px;
    }
}

.docs-carbonads-container {
    font-size: 14px;
    position: relative;
}

.docs-carbonads {
    overflow: hidden;
    max-width: 350px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.carbon-wrap {
    overflow: hidden;
}

.carbon-img {
    display: block;
    float: left;
    clear: left;
}

.carbon-text,
.carbon-poweredby {
    display: block;
    margin-left: 140px;
}

    .carbon-text,
    .carbon-text:hover,
    .carbon-text:focus {
        text-decoration: none;
        color: #fff;
    }

    .carbon-poweredby,
    .carbon-poweredby:hover,
    .carbon-poweredby:focus {
        text-decoration: none;
        color: #ddd;
    }

@media (min-width: 992px) {
    .docs-carbonads {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}


/* Content */
.cropper-container {
    width: 100% !important;
}

.img-container,
.img-preview {
    text-align: center;
    background-color: #f7f7f7;
    box-shadow: rgba(0,0,0,.2) 0 1px 14px;
    overflow: hidden;
}

.img-container {
    min-height: 340px;
    /*max-height: 469px;*/
    max-height: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.04);
    flex: 2 0 40%;
}


.img-container > img {
    max-width: 100%;
}

.docs-preview {
    display: inline-block !important;
    width: 20%;
    height: 88px;
    background-color: rgba(0,0,0,.8);
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
    padding-top:30px;
    position: fixed;
    z-index: 99;
    max-width: 120px;
}

.img-preview {
    display: inline-block;
    float: none !important;
}

#actions h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.img-preview {
    float: left;
    overflow: hidden;
    padding: 0;
}

    .img-preview > img {
        max-width: 100%;
    }

.preview-lg {
    width: 255px;
    height: 143px;
}

.preview-md {
    width: 128px;
    height: 72px;
}

.preview-sm {
    width: 72px;
    height: 41px;
}

.preview-xs {
    width: 40px;
    height: 24px;
    margin-right: 0;
}

.docs-data > .input-group {
    margin-bottom: 8px;
}

    .docs-data > .input-group > label {
        min-width: 80px;
    }

    .docs-data > .input-group > span {
        min-width: 50px;
    }

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
    margin-bottom: 8px;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
    margin-bottom: 8px;
}

.docs-tooltip {
    display: block;
    padding: 0 3px;
    font-size: 11px;
}
#CropImageWrapper .flex-box{
    position: relative;
}

#CropImageWrapper,
.left_pad_0 {
    padding-left: 0 !important;
}

.docs-buttons {
    margin-bottom: 30px;
}

    .docs-buttons .btn-group {
        display: inline-block;
        border: none;
        vertical-align: top;
    }

        .docs-buttons .btn-group button,
        #btnSaveCroppedImage {
            height: 37px;
            text-align: center;
            padding: 0 10px;
            font-size: 18px;
            cursor: pointer;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            display: inline-block;
            vertical-align: top;
        }

.btn-group button.sfBtn {
    width: 39px;
}

#btnSaveCroppedImage {
    font-size: 12px;
    margin-top: 4px;
    line-height: 35px;
}


/*.docs-buttons .btn-group span.crop-and-save{*/
/*color:#fff;*/
/*background-color:#8ebf3f;*/
/*font-size: 12px;*/
/*display: inline-block;*/
/*text-transform: uppercase;*/
/*height: 35px;*/
/*text-align: center;*/
/*padding: 0 10px;*/
/*font-size: 18px;*/
/*cursor: pointer;*/
/*border-radius:2px;*/
/*border:solid 1px rgba(0,0,0,.1);*/
/*transition:all .3s ease;*/
/*-webkit-transition:all .3s ease;*/
/*-moz-transition:all .3s ease;*/
/*-ms-transition:all .3s ease;*/
/*-o-transition:all .3s ease;*/
/*vertical-align: top;*/
/*}*/



#backtoMediaList {
    margin-right: auto;
}

.crop-and-save span {
    margin-right: 10px;
}

.docs-buttons .btn-group button:hover {
    background-color: rgba(0,0,0,.8);
    color: #fff;
}


.docs-aspect-ratios label input,
.docs-aspect-ratios label span {
    display: inline-block;
}

.docs-aspect-ratios{
    position: absolute;
    top: 8px;
    left: 10px;
    padding: 4px 8px;
    background-color: rgba(0,0,0,.4);
    height: 27px;
    width: auto !important;
}

.docs-aspect-ratios h2{display: inline-block;margin-right: 15px;color:white;}

.docs-aspect-ratios label span {
    background-color: rgba(255,255,255,.04);
    margin:0 4px 4px 0;
    border: solid 1px rgba(0,0,0,.1);
    cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    color:rgba(255,255,255,.6);
}

    .docs-aspect-ratios label span:hover,
    .docs-aspect-ratios label.active span{
        background: rgba(0,0,0,.3);
        color: #fff;
    }

.acp-ratios {
    margin-bottom: 14px;
}

.PopupContent .ui-icon-closethick {
    float: right;
    padding: 5px 12px;
    line-height: 31px;
    border-radius: 25px;
    height: 28px;
    cursor: pointer;
}

    .PopupContent .ui-icon-closethick:before {
        content: '\f00d';
        margin-right: 0;
        line-height: 19px;
    }

    .PopupContent .ui-icon-closethick:hover, .PopupContent .ui-icon-closethick:active {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 2px;
    }

@media (max-width:1189px) {
}

@media (max-width: 400px) {
    .btn-group-crop {
        margin-right: -16px !important;
    }

        .btn-group-crop > .btn {
            padding-right: 8px;
            padding-left: 8px;
        }
}

.docs-aspect-ratios,
.docs-view-modes {
    width: 100%;
}

    .docs-aspect-ratios h2 {
        margin-bottom: 12px !important;
    }



.docs-options .dropdown-menu {
    width: 100%;
}

    .docs-options .dropdown-menu > li {
        padding: 4px 16px;
    }

        .docs-options .dropdown-menu > li:hover {
            background-color: #f7f7f7;
        }

        .docs-options .dropdown-menu > li > label {
            display: block;
            margin-bottom: 0;
            cursor: pointer;
        }

.docs-cropped .modal-body {
    text-align: center;
}

    .docs-cropped .modal-body > img,
    .docs-cropped .modal-body > canvas {
        max-width: 100%;
    }


/* Footer */

.docs-footer {
    overflow: hidden;
}

.links {
    margin-bottom: 32px;
    text-align: center;
}

.heart {
    font-size: 18px;
    line-height: 32px;
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    color: #ddd;
}

    .heart:hover {
        color: #ff4136;
    }

    .heart:before {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        display: block;
        height: 0;
        content: ' ';
        border-top: 1px solid #eee;
    }

    .heart:after {
        position: relative;
        z-index: 1;
        padding-right: 8px;
        padding-left: 8px;
        content: '♥';
        background-color: #fff;
    }
/**************main.css end***********/
.back-to-btn {
    padding: 20px 0;
    display: inline-block;
    padding: 2px 12px 4px 10px;
    border-radius: 13px;
    width: auto;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 8px;
}

    .back-to-btn i {
        margin-right: 10px;
    }
/******* Cropper css end**********/


/*Crop tools*/
.crop-area{
    flex: 2;
    -webkit-flex:2;
}

.crop-tools{
    flex: 2;
    -webkit-flex:2;
    max-width: 104px;
    padding-right: 15px;
    background-color: #252b34;
    position: relative;

}

.tools-bg{
    position: absolute;
    max-width: 104px;
    color:white;
    font-size: 14px;
    padding: 14px;

}

.right-right-side .tools-bg h2,
#actions h2{
    font-size: 10px;
    font-weight: 300;
    text-transform: none;
    color: rgba(255,255,255,.4);

}

.docs-buttons button{
    background-color: transparent;
    border:none;
    font-size: 16px;
    height: 37px;
    width: 37px;
    line-height: 26px;
    text-align: center;
}
.docs-buttons .docs-tooltip{padding: 0;}
.docs-buttons button span{font-size: 16px;color:rgba(255,255,255,.6);}

.crop-n-save{}

ul.moveto{
    position: absolute;
    top: 0;
    left: 73%;
    z-index: 99;
    background-color: white;
    padding: 15px;
    text-align: left;
    box-shadow: rgba(0,0,0,.2) 0 0 18px;
}

ul.moveto li{
    padding-left: 15px;
}

ul.moveto li span{
    font-size: 12px;
    font-weight: 600;
}

.move-target-wrap{
    transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
}

.move-target-wrap > li:first-child{
    color:white;
    font-size: 10px;
    font-weight: 200;
    padding-left: 0;
    white-space: normal;
    line-height: 12px;
}

.move-target-wrap > li:first-child:before{
    display: none;
}

.move.actions:hover .move-target-wrap{
    opacity: 1;
    visibility: visible;
    top:0;
}

.fileName{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*display: -webkit-box;*/
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.8);
    color:white;
    padding: 8px;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    z-index: 29;
}

.items:hover .fileName{opacity: 1;visibility: visible}

.img-media-preview{
    overflow: hidden;
    display: inline-block;
    float: none !important;
    padding:0;
    text-align: center;
    transform: scale(3.2);
}


.CategoryListing {
    /*overflow-x: hidden;*/
    width:100%;
    padding:0;
    padding-top: 80px;
    border:none;
}
.CategoryListing .items {
    float: left; margin: 3px;
    /*border: 1px solid #eee;*/
    box-sizing: content-box;
    position: relative;
}

.CategoryListing .items img {
    display: block;
    width: 100%;
}


.items.noimage{
    /*min-width: 180px;*/
    /*max-width: 180px;*/
    min-width: 186px;
    max-width: 186px;
}



/*.CategoryListing .items{*/
    /*height: 180px !important;*/
/*}*/

.type-action-list{
    width: 98px;
}

.editableFileName{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    font-size: 11px;
    color:white;
    text-align: center;
    padding: 8px;
}

.editableFileName input{color:white;text-align: center;height: auto !important;border:none;line-height: 16px !important;font-size: 11px;}
.view-wrap{
    position: relative;
}

.call-to-actions{
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.import-img-name{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.import-img-name span{
    display: inline-block;
    font-size: 16px;
    color:rgba(255,255,255,.6);
}
.file-name{
    display: inline-block;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.btn-on-prevw{
    display: inline-block;
    border-radius: 38px;
    padding: 10px 30px;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.06);
    color:white;
    margin: 0 10px;
    transition: all .4s ease;
    cursor: pointer;
}
.btn-on-prevw:hover{
    background-color: rgba(255,255,255,.8);
    color: rgba(0,0,0,.6);
}

.btn-on-prevw i{margin-right: 10px;}

.img-size{
    font-size: 26px;
    font-weight: 200;
    color: rgba(255,255,255,.4);
}

.img-actual-size{
    position: relative;
}
.img-actual-size .fa-li{
    position: static;
}

.settingWrapper{
    margin-left:20px;
    position: relative;
}

.settingWrapper span.fa-cog{
    display: inline-block;
    cursor: pointer;
    transition: all .4s ease;
    color:rgba(0,0,0,.5);
}

.settingWrapper:hover span.fa-cog{
    color:rgba(0,0,0,.8);
}

.mediaSettingList{
    position: absolute;
    top:30px;
    left: 0;
    min-width: 200px;
    padding: 20px;
    background-color: white;
    z-index: 30;
    box-shadow: rgba(0,0,0,.24) 0 0 34px;
}

.mediaSettingList input{
    margin-bottom: 10px;
}

.mediaSettingList #closeSettings{
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
}

.saveapikey{
    display: inline-block;
    font-size: 11px;
    padding: 4px 16px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #1fb6ff;
    color:white;
    transition:all .4s ease;
    margin-bottom: 15px;
}

.saveapikey:hover{
    background-color: rgba(0,0,0,.8);
}

.notelink{display: block}
.notelink ul li{
    font-size: 11px;
    color:rgba(0,0,0,.8);
    margin-bottom: 6px;
    position: relative;
    padding-left: 20px;
    counter-increment: numbers; /*set custom value to call*/
}

.notelink ul li:before{
    content:counter(numbers);/*Call custom value*/
    font-size: 12px;
    font-weight: 800;
    color:rgba(0,0,0,.24);
    position: absolute;
    top:0;
    left:0;
}

.creditpixabay{
    position: absolute;
    bottom: 4px;
    right: 35px;
}

.creditpixabay a{
    display: block;
    color:rgba(0,0,0,.8);
    font-size: 11px;
    font-weight: 500;
}

.creditpixabay a img{
    max-width: 70px;
    margin-left: 10px;
}

.creditpixabay img{
    width: 100%;
    height: auto;
}

.drop-media,
.divBreadcrumb{
    position: absolute;
    width: calc(100% - 310px);
    z-index: 19;
    top:137px;
}

.drop-media{z-index: 29;}
.divBreadcrumb{
    background-color: white;
    top:187px;
    padding: 5px;
}

.onlinedata{
    padding-top:0;
}



/*:::::::::::::::::::::::::::::::::::4th dec 2017:::::::::::::::::::::::::::::::*/

.type-document > span i{
    font-size: 48px;
    color: #d5a95f;
}

.type-document > span i:before,
.type-video > span i:before{
    line-height: 157px;
}

.type-video{
    min-height: 157px;
    max-height: 157px;
    font-size: inherit;
}
.type-video .videos{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
}

.type-video .videoControl{
    position: absolute;
    left: 0;
    right: 0;
    font-size: 50px;
    z-index: 1;
    opacity: 1;
    text-shadow: rgba(0,0,0,.8) 0 0 18px;
    top: calc(50% - 24px);
    top: -webkit-calc(50% - 24px);

    cursor: pointer;
}


.pop-up-parent-bg .view-wrap i{
    position: absolute;
    left: 0;
    right: 0;
    font-size: 80px;
    z-index: 1;
    opacity: 1;
    text-shadow: rgba(0,0,0,.8) 0 0 18px;
    top: calc(50% - 24px);
    top: -webkit-calc(50% - 44px);
    color:white;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;

}

.pop-up-parent-bg .view-wrap:hover i{
    opacity: 1;
    visibility: visible;
}