<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <add name="SageFrameConnectionString" connectionString="Data Source=Sudhir-Contentder;Initial Catalog=WebBuilder;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=brain@123;Connect Timeout=120" providerName="System.Data.SqlClient" />
</connectionStrings>