<?xml version="1.0" encoding="UTF-8"?>
<connectionStrings>
  <clear />
  <add connectionString="Data Source=BIJAYA-CONTENTD;Initial Catalog=del_webbuilder_24;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=brain@123;Connect Timeout=120" name="SageFrameConnectionString" providerName="System.Data.SqlClient" />
</connectionStrings>