<?xml version="1.0"?>
<appSettings>
  <clear />
  <add key="FCKeditor:BasePath" value="~/Editors/fckeditor/" />
  <add key="CKeditor:BasePath" value="~/Editors/ckeditor" />
  <add key="FCKeditor:UserFilesPath" value="~/Upload/" />
  <add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\TempImageFiles;" />
  <add key="DatabaseName" value="WebBuilder" />
  <add key="objectQualifier" value="" />
  <add key="databaseOwner" value="dbo" />
  <add key="databaseVersion" value="02.00.00" />
  <add key="IsInstalled" value="true" />
  <add key="InstallationDate" value="1/30/2018" />
  <add key="SageFrameVersion" value="3.8" />
  <add key="SageFrameVersionLoad" value="" />
  <add key="ShowException" value="false" />
  <add key="DigiSphereApi" value="http://172.18.12.168:8030/api" />
  <add key="templatestoreurl" value="http://template.sageframe.com/Services/GetTemplates.asmx" />
  <add key="issiteconfigured" value="true" />
  <add key="sitepasswordchanged" value="true" />
  <add key="advisionconfigured" value="true" />
  <add key="templatechoosed" value="true" />
  <add key="configurecode" value="configurecode" />
  <add key="useremailaddress" value="test@test.com" />
  <add key="DevelopmentMode" value="true" />
</appSettings>