.cssClassEditWrapper .sfFormwrapper table table tbody tr td{display:inline-block;padding:5px !important;}

.ui-dialog-content{padding:0 !important;}
.no-table-edit tr{margin-bottom: 0 !important;}

.selectbox-sml select{width: 39%}