#divBindRolesList{
    margin-top: 25px;
    width: 100%;
}

#divBindRolesList > div{
        flex:3;
        -webkit-flex:3;
        -moz-flex:3;
  }

.sfLeftdivB{
    flex:1;
    -webkit-flex:1;
    -moz-flex:1;
    max-width: 280px;
}



#divBindRolesList table tr td{
    font-weight:500;
    text-transform: none;
}

#divBindRolesList table tr:nth-child(odd){
    background-color:rgba(0,0,0,.04)
}

#dvRoleType label{
    display: inline-block;
    font-size: 12px;
    padding: 12px 15px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.4);
    color:white;
    font-weight: 700;

}
span .sfRadiobutton label {background-color:none;}
.formKey label {
    margin-bottom: 0;
}
#ProfileSetting, #Changepswd {
    padding-top: 30px;
}
.sfDisplayName span:first-child, .sfDisplayName span:last-child {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: rgba(0,0,0,.5);
}
.sfImagewrapper {
    margin-bottom: 30px;
}
.edit-profile-image {
    position: absolute;
    top: 97px;
    left: 144px;
    width: auto;
    display: inline-block;
    z-index: 1;
}

.user-profile-image-wrapper {
    position: relative;
    margin-right: 40px;
    box-shadow: rgba(0,0,0,0.2) 0 0 10px;
    height: 130px;
    width: 130px;
    border: solid 8px rgba(0,0,0,.06);
    overflow: hidden;
    display:table;
}
.user-profile-image-wrapper img {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
}
.edit-profile-image label {
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.45);
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.edit-profile-image .icon-close:before{
    margin:0;
}
.sfCpanel .sfButtonwrapper {
    margin-top: 0;
}

.sfRequired + span{
        text-transform: none !important;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
}
/*.alignLevel {margin-top:42px}*/
input[type="submit"]{display:none;}
@media (max-width:331px){

    .edit-profile-image{top:134px;}
}

